on: push
name: build
jobs:
  build-package:
    name: build every_test package
    runs-on: windows-latest
    strategy:
      matrix:
        build-argument: [ 'web', 'apk --debug', 'windows' ]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: '12.x'
      - uses: subosito/flutter-action@v1
      - run: |
          flutter pub get
          flutter format --set-exit-if-changed .
          flutter analyze
          cd example
          flutter build ${{ matrix.build-argument }}
      - uses: VeryGoodOpenSource/very_good_coverage@v1